@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: var(--font-roboto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.countdown {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 10px;
}

.countdown .time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown .item h2 {
  margin: 10px 0;
  font-size: 1.5rem;
}

.countdown .item small {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #0066CC;
}

.text-gradient {
  background: linear-gradient(to right, #0066CC, #0066CC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: #0066CC;
  font-weight: bold;
}

@media (min-width: 768px) {
  .countdown {
    gap: 50px;
  }

  .countdown .time h2 {
    font-size: 6.5rem;
  }
  .countdown .time small {
    font-size: 1.8rem;
    color: #0066CC;
  }
}
